nav.navbar{
	padding-left: 1em;
	padding-right: 1em;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#spa-shell {
	margin-top: 4.5rem;
	padding-bottom: 1em;
	flex-grow: 1;
}

.card-title{
	font-weight: bold;
}

div.card:not(:last-child){
	margin-bottom: 1em;
}

.group-required{
	display: none;
}

/*.actionMessage{
	position: fixed;
}*/

*{
	transition: all .4s ease;
}

a:hover, button:hover, div.form-group:hover, header nav a{
	color: inherit;
	transition: all .4s ease;
	background-color: inherit;
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05); 
	transform: scale(1.05); /* Standard syntax */
	z-index: 999999;
}
